body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

tbody:nth-child(odd) {
  background-color: salmon;
}
tbody tr:first-child td.shift {
  color: blue;
}
tbody tr:last-child td.shift {
  color: violet;
}
